header.header
	.container.header__body
		.header__logo
			img(src="img/logo_small.png", alt="", srcset="")
		nav.header__menu.menu
			ul.menu__list
				li
					a.menu__link(href="#") Features
				li
					a.menu__link(href="#") About
				li
					a.menu__link(href="#") Pricing
				li
					a.menu__link(href="#") Reviews
				li
					a.menu__link(href="#") Contact
		.burger-icon
			span
			span
			span
		.burger-menu