section.process
	.container
		.process__header
			.process__title WHY THIS IS AWESOME
			.process__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		.process__body
			.process__item.process-element
				.process-element__icon
					<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
				.process-element__title Thoughtful Design
				.process-element__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
			.process__item.process-element
				.process-element__icon
					<i class="fa fa-keyboard-o" aria-hidden="true"></i>
				.process-element__title Well Crafted
				.process-element__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
			.process__item.process-element
				.process-element__icon
					<i class="fa fa-bolt" aria-hidden="true"></i>
				.process-element__title Easy to Customize
				.process-element__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.