section.standart-picture
	.container
		.standart-picture__inner
			.standart-picture__info.title-content
				.title-content__title Standard Picture Section
				.title-content__text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
			.standart-picture__image
				img.sub-list__photo(src="img/picture.webp", alt="", srcset="")
		