section.social
	.social__body.container
		.social__text.social-info
			.social-info__title
				Social Media
			.social-info__text
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
		.social__links
			<i class="fa fa-arrows" aria-hidden="true"></i>
