section.sub-list.container
	.sub-list__inner
		.sub-list__image
			img.sub-list__photo(src="img/section1/image.png", alt="", srcset="")
		.sub-list__info.list-section
			.list-section__header.title-content
				.title-content__title Sub list section
				.title-content__text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
			.list-section__content
				ul.list-section__list
					li.list-section-item
						.list-section-item__body
							.list-section-item__icon
								<i class="fa fa-cloud-upload" aria-hidden="true"></i> 
							.list-section-item__info
								.list-section-item__title Title
								.list-section-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					li.list-section-item
						.list-section-item__body
							.list-section-item__icon
								<i class="fa fa-cloud-download" aria-hidden="true"></i>
							.list-section-item__info
								.list-section-item__title Title
								.list-section-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.