.header {
  background-color: #000;

  &__body {
    display: flex;
    align-items: center;
    height: 72px;
  }

  &__logo {
    flex: 1 1 auto;
  }

  &__menu {
    flex: 1 1 auto;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    opacity: 0.69;
    font-weight: 600;
    color: #ffffff;
  }

  li {
    margin-right: 46px;
    &:last-child {
      margin: 0;
    }
  }
}
