.tab {
  background-color: #f5f5f5;
  &__selector {
    margin: 0px 100px 0px 0px;
    @media (max-width: $md2+px) {
      margin: 0px 50px 30px 0px;
    }

    @media (max-width: $md3+px) {
      display: flex;
    }
  }

  @media (max-width: $md2+px) {
    min-height: 350px;
  }
}

.tab-body {
  display: flex;
  justify-content: space-between;
  padding: 147px 0 114px 0;
  @media (max-width: $md2+px) {
    padding: 70px 0 55px 0;
  }
  @media (max-width: $md3+px) {
    display: block;
  }
}

.selector {
  max-width: 112px;

  &__item {
    cursor: pointer;
    border-radius: 3px;
    padding: 50px 35px;
    background-color: #333;
    margin: 0px 0px 1px 0px;
    &.active {
      background-color: #ff8b38;
    }
    @media (max-width: $md2+px) {
      padding: 30px 20px;
    }
    @media (max-width: $md3+px) {
      margin: 0px 1px 0px 0px;
    }
  }

  span {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.slider-body {
  position: relative;
  width: 100%;
}
.slider-item {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;

  &__inner {
    display: flex;
  }

  &__info {
    margin: 0px 103px 0px 0px;
    @media (max-width: $md2+px) {
      margin: 0px 50px 0px 0px;
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    // transition: visibility 0.5s, opacity 0.5s linear;
  }
}

.slider-info {
  &__title {
    margin: 0px 0px 50px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    @media (max-width: $md2+px) {
      margin: 0px 0px 20px 0px;
    }
  }

  &__text {
    line-height: 20px;
    color: #86878b;
    margin: 0px 0px 51px 0px;
    p {
      margin: 0px 0px 30px 0px;
      &:last-child {
        margin: 0;
      }
      @media (max-width: $md2+px) {
        margin: 0px 0px 15px 0px;
      }
    }

    @media (max-width: $md2+px) {
      margin: 0px 0px 25px 0px;
    }
  }

  &__btn {
    background-color: #ff8b38;
    border: 0;
    border-radius: 3px;
  }
}
